body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.Card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 1rem 1rem 1rem hsl(0 0% 0% / 10%);
    justify-content: center;
    margin: auto;
    max-width: 75vh;
    text-align: center;
}


/*result part of the card*/
.left{
    flex: 50%;
    min-height: 50vh;
    background-color: hsl(252, 100%, 67%);
    border-radius:1rem;
    /* Added a display flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.summary {
    text-align: left;
    padding: 1vh;
}

/* Added the .categories selector so that I can style the 4 categories in one time*/
.categories{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    padding-left: 5px;
    min-height: 5vh;
    border-radius:0.5rem;
}


h4 {
    
}
.circle {
    border-radius: 50%;
    background-color: hsla(256, 72%, 46%, 1);
    height: 150px;
    width:150px;
    /* Deleted the justify-content and align-items properties */

}

/*The summary part of the card*/
.right{

}

.Category {
    padding: 3px;
    display: grid;
    text-align: justify;
    gap: 1.5rem;
    margin: 15px;
}

.summary {
    font-weight:bold;
}

.Reaction {

    /* Deleted the display:grid here */
    background-color: hsl(0, 100%, 67%, 0.4);
    /* Cutted all the styles common to the categories and pasted them in the categories selector so that it styles them all in one code-bloc */
    /* Deleted the align-items: center */
}

.Memory {
    background-color: hsl(39, 100%, 56%, 0.4);
    /* Cutted all the styles common to the categories and pasted them in the categories selector so that it styles them all in one code-bloc */

}

.Verbal {
    background-color: hsl(166, 100%, 37%, 0.4);
    /* Cutted all the styles common to the categories and pasted them in the categories selector so that it styles them all in one code-bloc */
    }

.Visual {
    background-color: hsl(234, 85%, 45%, 0.4);
    /* Cutted all the styles common to the categories and pasted them in the categories selector so that it styles them all in one code-bloc */
}

.Continue{
    background-color: darkgrey;
    border-radius: 3rem;
    min-height: 5vh;
    padding:5px;
    margin:3rem;
    text-align: center; /*try to center the text*/
}